
body { 
	background-color:  #F5F5DC  
	}
	


h1 { 
	color: red;
	font-family:}

h2 {
	font-variant: small-caps;
	color: purple;
	}
	
h3 {font-family: Comic Sans MS;
	color : black;
	 }

strong {
	background-color: gold;
	
	}


